.container1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
    font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}